
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 20px;
}

footer{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 16px
}

.intro{
    width: 100%;
}

@media(min-width: 768px){

    article{
        display: inline-block;
        width: 30%;
        margin-right: 3%;
        vertical-align: top;
    }
}